*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: pink;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fizz{
    background-color: green;
}
.buzz{
    background-color: blue;
}
.fizz-buzz{
    background-color: darkred;
}